# Ambiente virtuale
.venv/
venv/

# Cache e file temporanei di Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log

# IDE e configurazioni locali
.idea/
.vscode/

# File di sistema
.DS_Store

# File e cartelle YOLOv8
runs/
weights/
yolov8n.pt
yolov8s.pt
yolov8m.pt
yolov8l.pt
yolov8x.pt

# Datasets o modelli addestrati localmente
datasets/
models/

# Backup o file temporanei
*.bak
*.tmp
